data/raw/*
data/processed/*
logs/*

results/outputs/*
results/figures/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!results/outputs/.gitkeep
!results/figures/.gitkeep
!results/outputs/*.csv
!results/outputs/*.json
!results/figures/*.png

__pycache__/
*.pyc
.venv/
venv/
.DS_Storevenv/
